.select2 {
    margin-top: 10px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 400;
}

.select {
    width: 187px;
    height: 10px;
    font-family: 'GEICO Roobert';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1c1c1e;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.change-comp {
    margin-top: 10px;
    font-weight: bold;
    color: #0066ff;
    font-size: 12px;
}

.platform-gtr {
    color: #154995;
    width: 298px;
    height: 29px;
    top: 19px;
    left: 27px;
}
