.example-full-width {
    width: 100%;
}

.multiselect-dropdown {
    position: relative;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
}

.list-group-item-action {
    cursor: pointer;
}

.chip-close {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.chip-close:hover {
    cursor: pointer;
    color: rgb(248, 115, 115);
}

.chip {
    display: inline-flex;
    align-items: center;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
}

h1 {
    font-size: medium;
    color: rgb(19, 18, 18);
}

input,
li {
    color: rgb(19, 18, 18);
    max-width: 40%;
}

li:hover {
    background-color: rgb(228, 222, 222);
}

.left-margin {
    float: right;
}

.spacer {
    display: inline-flex;
    align-items: center;
    min-width: 70%;
    max-width: 100%;
    margin: auto;
}
