<div *ngIf="dataSource.data.length > 0">
    <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Select Revision</mat-label>
        <mat-select
            [(ngModel)]="selectedBranch"
            name="exportType"
            (selectionChange)="onBranchChange()"
        >
            <mat-option
                *ngFor="let branch of factorFileList"
                [value]="branch"
                class="button-width"
            >
                {{ branch }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button
        mat-raised-button
        color="primary"
        (click)="onSelect()"
        class="button-width button-position"
    >
        <mat-icon *ngIf="view === 'edit'">edit</mat-icon>
        <mat-icon *ngIf="view !== 'edit'">visibility</mat-icon>
        {{ buttonLabel }}
    </button>
</div>

<app-generic-grid
    [tableDataState$]="tableData$"
    [displayColumnsInput]="displayedColumns"
    (linkClicked)="loadData($event)"
    (checkboxClicked)="onChange($event)"
    [url]="backUrl"
    [showCheckbox]="showCheckbox"
></app-generic-grid>
