<div>
    <mat-toolbar>
        <mat-toolbar-row class="toobar-position">
            <div>
                <button
                    style="margin-left: 5px; margin-right: 5px"
                    mat-raised-button
                    color="primary"
                    (click)="setTemplate('rawChar')"
                    class="button-width"
                >
                    Characteristics
                </button>
                <button
                    style="margin-right: 5px"
                    mat-raised-button
                    color="primary"
                    (click)="setTemplate('rawJson')"
                    class="button-width"
                >
                    Json
                </button>
                <button
                    *ngIf="refinementEnabled"
                    style="margin-right: 5px"
                    mat-raised-button
                    color="primary"
                    (click)="setTemplate('refinement')"
                    class="button-width"
                >
                    Refinement
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <ng-template #rawCharacteristics>
        <app-characteristics-main [formData$]="formData$">
        </app-characteristics-main>
        <div *ngIf="isValidationsExists() > 0">
            <app-validation
                *ngFor="
                    let validation of getValidations()?.controls;
                    let i = index
                "
                [validationForm]="convertToFormGroup(validation)"
                [arrayIndex]="i"
            >
            </app-validation>
        </div>
        <div>
            <button mat-button color="primary" (click)="goBack()">
                <mat-icon>fast_rewind</mat-icon>
                Back
            </button>
        </div>
    </ng-template>
</div>

<ng-template #refinement>
    <div *ngIf="isRefinementsExists() > 0">
        <app-refinement
            *ngFor="let refinement of getRefinements()?.controls; let i = index"
            [refinementForm]="convertToFormGroup(refinement)"
            [arrayIndex]="i"
        ></app-refinement>
    </div>
</ng-template>

<ng-template #rawCharacteristicsJson>
    <pre>
        {{ jsonContent }}
    </pre>
</ng-template>

<ng-template #refinementJson>
    <h4>refinement json</h4>
</ng-template>

<ng-container #container></ng-container>
