<mat-tab-group mat-align-tabs="start" *ngIf="isListFileData">
    <div *ngFor="let file of filesList">
        <mat-tab label="{{ file.fileName }}"
            ><app-file-upload [filesList]="file"></app-file-upload
        ></mat-tab>
    </div>
</mat-tab-group>

<mat-tab-group mat-align-tabs="start" *ngIf="!isListFileData">
    <div *ngFor="let file of filesList">
        <mat-tab label="{{ file.date }}"
            ><app-file-upload [filesHistoryList]="file"></app-file-upload
        ></mat-tab>
    </div>
</mat-tab-group>
